/* src/assets/styles/global.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #282c34;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.home-page {
    padding: 20px;
    text-align: center;
}


/* Footer Styling */

.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


/*foooter*/

.footer-social {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.footer-social img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s;
}

.footer-social img:hover {
    transform: scale(1.2);
}


/*profile css */

.profile-container {
    padding: 30px;
    color: #fff;
    max-width: 900px;
    margin: auto;
}

.profile-section {
    margin-bottom: 40px;
}

.header-preview {
    margin-top: 10px;
    max-width: 100%;
    border-radius: 8px;
}

textarea,
input[type="text"] {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.preview-grid {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.preview-grid img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.project-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background: #222;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
}

.project-card img {
    width: 100%;
    border-radius: 5px;
}

.btn {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #08f;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


/*        -------*/